- @hide_top_links = true
- @no_container = true
- breadcrumb_title _("Projects")
- page_title _("Starred Projects")
- header_title _("Projects"), dashboard_projects_path

%div{ class: container_class }
  = render "projects/last_push"
  = render 'dashboard/projects_head'

  - if params[:filter_projects] || any_projects?(@projects)
    = render 'projects'
  - else
    %h3.page-title= _("You don't have starred projects yet")
    %p.slead= _("Visit project page and press on star icon and it will appear on this page.")
