.top-area
  %ul.nav-links.nav.nav-tabs
    = nav_link(page: dashboard_snippets_path, html_options: {class: 'home'}) do
      = link_to dashboard_snippets_path, title: _('Your snippets'), data: {placement: 'right'} do
        = _('Your snippets')
    = nav_link(page: explore_snippets_path) do
      = link_to explore_snippets_path, title: _('Explore snippets'), data: {placement: 'right'} do
        = _('Explore snippets')

  - if current_user
    .nav-controls.d-none.d-sm-block
      = link_to _("New snippet"), new_snippet_path, class: "btn btn-new", title: _("New snippet")
