- save_endpoint = local_assigns.fetch(:save_endpoint, nil)
- scope_docs_link = help_page_path('ci/variables/README.html', anchor: 'limiting-environment-scopes-of-variables')

.row
  .col-lg-12.js-ci-variable-list-section{ data: { save_endpoint: save_endpoint, scope_docs_link: scope_docs_link } }
    .hide.alert.alert-danger.js-ci-variable-error-box

    .table-holder.ci-variable-list
      .gl-responsive-table-row.table-row-header
        .table-section.section-30
          = s_("CiVariable|Variable key")
        .table-section.section-30
          = s_("CiVariable|Variable value")
        .table-section.section-10
          = s_("CiVariable|Protected")
        - if @project && @project.feature_available?(:variable_environment_scope)
          .table-section.section-30
            = s_("CiVariable|Enviroment Scope")
      - @variables.each.each do |variable|
        = render 'ci/variables/variable_row', form_field: 'variables', variable: variable
      = render 'ci/variables/variable_row', form_field: 'variables'
    .prepend-top-20
      %button.btn.btn-success.js-secret-variables-save-button{ type: 'button' }
        %span.hide.js-secret-variables-save-loading-icon
          = icon('spinner spin')
        = _('Save variables')
      %button.btn.btn-info.btn-inverted.prepend-left-10.js-secret-value-reveal-button{ type: 'button', data: { secret_reveal_status: "#{@variables.size == 0}" } }
        - if @variables.size == 0
          = n_('Hide value', 'Hide values', @variables.size)
        - else
          = n_('Reveal value', 'Reveal values', @variables.size)
