- page_title "Repository"
- @content_class = "limit-container-width" unless fluid_layout
= render "projects/settings/head"

- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('common_vue')
  = page_specific_javascript_bundle_tag('deploy_keys')

<<<<<<< HEAD
= render "projects/push_rules/index"
= render "projects/mirrors/show"

=======
>>>>>>> 0d9311624754fbc3e0b8f4a28be576e48783bf81
= render "projects/protected_branches/index"
= render "projects/protected_tags/index"
= render @deploy_keys
