- project = local_assigns.fetch(:project)

.card.custom-monitored-metrics.js-panel-custom-monitored-metrics{ data: { active_custom_metrics: project_prometheus_metrics_path(project), environments_data: environments_list_data, service_active: "#{@service.active}" } }
  .card-header
    %strong
      = s_('PrometheusService|Custom metrics')
    %span.badge.badge-pill.js-custom-monitored-count 0
    = link_to s_('PrometheusService|New metric'), new_project_prometheus_metric_path(project), class: 'btn btn-success pull-right js-new-metric-button hidden'
  .card-body
    .flash-container.hidden
      .flash-warning
        .flash-text
    .loading-metrics.js-loading-custom-metrics
      %p.prepend-top-10.prepend-left-default
        = icon('spinner spin', class: 'metrics-load-spinner')
        = s_('PrometheusService|Finding custom metrics...')
    .empty-metrics.hidden.js-empty-custom-metrics
      %p.text-tertiary.prepend-top-10.prepend-left-default.js-no-active-integration-text.hidden
        = s_('PrometheusService|Enable Prometheus to define custom metrics, using either option above')
      %p.text-tertiary.prepend-top-10.prepend-left-default.js-no-custom-metrics-text.hidden
        = s_('PrometheusService|No custom metrics have been created. Create one using the button above.')
    %ul.list-unstyled.metrics-list.hidden.js-custom-metrics-list

= render_ce 'projects/services/prometheus/metrics', project: project
