- project = @project || find_project_for_blob(wiki_blob)

- if wiki_blob.is_a?(Array)
  - file_name, wiki_blob = wiki_blob
- else
  - wiki_blob = parse_search_result(wiki_blob)
  - file_name = wiki_blob.filename

.blob-result
  .file-holder
    .js-file-title.file-title
      = link_to project_wiki_path(project, wiki_blob.basename) do
        %i.fa.fa-file
        %strong
          - if @project
            = file_name
          - else
            #{project.full_name}:
            %i= file_name
    .file-content.code.term
      = render 'shared/file_highlight', blob: wiki_blob, first_line_number: wiki_blob.startline
